svg {
  width: 100%;
  height: 100%;
}

rect {
  opacity: 0.5;
}

rect.highlight {
  fill: red;
}
path.link {
  fill: none;
  stroke: #333;
  stroke-width: 6px;
  cursor: default;
}

path.link.hidden {
  stroke-width: 0;
}
